ul{
    padding:0px 20px;
    margin:0px;
}
section{
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    background-color: white;
    position: absolute;
    top:0px;
    overflow:auto;
}
section ul{
    border-bottom: 1px solid #d9d9d9;
}
section ul li{
    padding:5px;
    font-size:12px;
    line-height: 24px;
    list-style-type: none;
    color:#9A9A9A;
}

section ul li:hover,.project > li:first-child{
    cursor: pointer;
    color:#3C82FF;
}
h2{
    padding:6px 20px
}
