<div id="action-container">
    <div class="action-head-wrapper"style="background-color:#007bff;height:100px;width:100%;">
        <div  class="action-head" style="position:relative;top:20px;left:20px;height:50px;width:360px;background-color:white">
            <div  title="菜单" id="action-menu" style="position:relative;top:12px;left:15px;">
                <i class="fas fa-bars fa-lg"></i>
            </div>

            <div title="关闭" id="action-close" style="position:absolute;top:12px;right:15px;">
                <i class="fas fa-times fa-lg"></i>
            </div>
        </div>
    </div>

</div>