registry=http://58.213.133.181:7781/tfs/GeoThinking/_packaging/geomatrix_package/npm/registry/
always-auth=true
；将此身份验证令牌视为密码。不要与任何人共享，包括 Microsoft 支持人员。此令牌将于 2018/8/28 或之前到期。
; 开始身份验证令牌
//58.213.133.181:7781/tfs/GeoThinking/_packaging/geomatrix_package/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzdhZTYyMWItNzY3Zi00NDA0LWEzNzctM2FjYWY1NmI2OTkxIiwic2lkIjoiOWUxZjNhMTgtOTkxNi00YTk5LWFmNDUtMDU2MzM4NDJjODUzIiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNzY0ODUwMCwiZXhwIjoxNTM1NDI0NTAwfQ.KSGOz-sLf7RudWX2mT524zUdelUyazQAvxVltCRMReOVxIj0HwvcFB5atppGfQQu__zEtNBff3I0_O4ofCuT5s3UmONu0gR3MJZHkFqVju871CvsuOJp3JLdojK4p8VZAYuGERD6O9H6TMIZSUYRfL0Yrb0HEI2zSpd9exCVyegidpPw3nv9hXwD08FPVKr5O7Ol7I55l5YRPPD_iwZwT8y3JjzUEwavA0GLCOzxmAsDPtroukARXcPznanrfMcMvwcX_q8SENzeHEq69Nb0LgyhQcFdmiEbJp61BQiKoF1M3N1l-b9g3ypH7dWNipgYa6xMPqKrtOmbdsuTD74feg
//58.213.133.181:7781/tfs/GeoThinking/_packaging/geomatrix_package/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMzdhZTYyMWItNzY3Zi00NDA0LWEzNzctM2FjYWY1NmI2OTkxIiwic2lkIjoiOWUxZjNhMTgtOTkxNi00YTk5LWFmNDUtMDU2MzM4NDJjODUzIiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNzY0ODUwMCwiZXhwIjoxNTM1NDI0NTAwfQ.KSGOz-sLf7RudWX2mT524zUdelUyazQAvxVltCRMReOVxIj0HwvcFB5atppGfQQu__zEtNBff3I0_O4ofCuT5s3UmONu0gR3MJZHkFqVju871CvsuOJp3JLdojK4p8VZAYuGERD6O9H6TMIZSUYRfL0Yrb0HEI2zSpd9exCVyegidpPw3nv9hXwD08FPVKr5O7Ol7I55l5YRPPD_iwZwT8y3JjzUEwavA0GLCOzxmAsDPtroukARXcPznanrfMcMvwcX_q8SENzeHEq69Nb0LgyhQcFdmiEbJp61BQiKoF1M3N1l-b9g3ypH7dWNipgYa6xMPqKrtOmbdsuTD74feg
; 结束身份验证令牌