registry=http://58.213.133.181:7781/tfs/GeoThinking/_packaging/ClientPackage/npm/registry/
always-auth=true
；将此身份验证令牌视为密码。不要与任何人共享，包括 Microsoft 支持人员。此令牌将于 2018/7/30 或之前到期。
; 开始身份验证令牌
//58.213.133.181:7781/tfs/GeoThinking/_packaging/ClientPackage/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2ViYmRjYWEtZDhjMi00MTNhLTk4YWMtNGI4NzYwOWEwODRmIiwic2lkIjoiZjdkMmQ2MjItOGEyMS00NDdmLWFmNGYtODUzYTEyOTM1MTk1IiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNTE4MDE0NCwiZXhwIjoxNTMyOTU2MTQ0fQ.NAVEJjz9K15wdIncy-75q1Yv2sbnpqKrm7rpogosusF8FMFZqJN45_FJ5XwlpLqsAk2LLOi92XttrOA9k_ZuWqCRanQUm7kcKgslpZWocYOQx8sLADe6YutxBuhIRWjowcPllWSx406vsuJsljpAbwpeXFa7Gi7p-OkOHduvAxZAgPNGCv4HxC21PutlsEvjynLVZmyX0OOTzHspQlCHgGrwY7wT979GkuLqvzH3QzhJpJz8G_mIwjwvEBRo5yazy3c6-IXOIYYH_UPqeRTeG2tiQCu6hJuLzlPVIqOYwU7OGVlcCGRwQHABFlMWaXQ8ty0Ud4TkmjKOuKIB6LjX7A
//58.213.133.181:7781/tfs/GeoThinking/_packaging/ClientPackage/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2ViYmRjYWEtZDhjMi00MTNhLTk4YWMtNGI4NzYwOWEwODRmIiwic2lkIjoiZjdkMmQ2MjItOGEyMS00NDdmLWFmNGYtODUzYTEyOTM1MTk1IiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNTE4MDE0NCwiZXhwIjoxNTMyOTU2MTQ0fQ.NAVEJjz9K15wdIncy-75q1Yv2sbnpqKrm7rpogosusF8FMFZqJN45_FJ5XwlpLqsAk2LLOi92XttrOA9k_ZuWqCRanQUm7kcKgslpZWocYOQx8sLADe6YutxBuhIRWjowcPllWSx406vsuJsljpAbwpeXFa7Gi7p-OkOHduvAxZAgPNGCv4HxC21PutlsEvjynLVZmyX0OOTzHspQlCHgGrwY7wT979GkuLqvzH3QzhJpJz8G_mIwjwvEBRo5yazy3c6-IXOIYYH_UPqeRTeG2tiQCu6hJuLzlPVIqOYwU7OGVlcCGRwQHABFlMWaXQ8ty0Ud4TkmjKOuKIB6LjX7A
; 结束身份验证令牌