registry=http://58.213.133.181:7781/tfs/GeoThinking/_packaging/CrimeAnalysisPackage/npm/registry/
always-auth=true
；将此身份验证令牌视为密码。不要与任何人共享，包括 Microsoft 支持人员。此令牌将于 2018/7/31 或之前到期。
; 开始身份验证令牌
//58.213.133.181:7781/tfs/GeoThinking/_packaging/CrimeAnalysisPackage/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2NlYzE2NGUtMDY2MC00OTcxLTkwMTUtNjIwMGNjOTYwZGZkIiwic2lkIjoiMDg5MWM5OWQtODhmZS00ZTc3LWEzZGEtZmE3NGQzMDViOGMyIiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNTIyOTY3OCwiZXhwIjoxNTMzMDA1Njc4fQ.O3lfRSW7yhhOsNxapaNIBIk3YHqosgtpnRG1LSbabaJYKK_xsUfKiv7lZBfoAfrC-hvxeitHWmjszGw5awSvwgQ8f7NejmSAQgi9LfOBnJd_a9HxUlf6pH5wUEX75WIeCZnuQ4tfsNRWXvdLH4ItolUw9fY9mZolknK2RyqIpBG8MAxhSQudQ5qZVPDuMT-3QC73iBY6tPQnbheQFhdhPYrhwtHnsAxg4OUWOog1UtEfaLzABBBzgz0GrZ-fWPJpxVOAv7mOaJZnh4QsO9-TbvVyOPLGfzlk2eWtL8mGC1rJ_RIPUPdnamx3kJaFHsCWs0lFT_IMkxIFoN7QzMizFg
//58.213.133.181:7781/tfs/GeoThinking/_packaging/CrimeAnalysisPackage/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6InZFRnVwZ0ViTjcyeHhYaHg3WnpyeFMyWnFXWSJ9.eyJuYW1laWQiOiI3NWIzYmZiNy00NTJkLTRkYzAtOTFjYS1mOGEzYTc5MWZiNzQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2NlYzE2NGUtMDY2MC00OTcxLTkwMTUtNjIwMGNjOTYwZGZkIiwic2lkIjoiMDg5MWM5OWQtODhmZS00ZTc3LWEzZGEtZmE3NGQzMDViOGMyIiwiaXNzIjoiNTguMjEzLjEzMy4xODEiLCJhdWQiOiI1OC4yMTMuMTMzLjE4MSIsIm5iZiI6MTUyNTIyOTY3OCwiZXhwIjoxNTMzMDA1Njc4fQ.O3lfRSW7yhhOsNxapaNIBIk3YHqosgtpnRG1LSbabaJYKK_xsUfKiv7lZBfoAfrC-hvxeitHWmjszGw5awSvwgQ8f7NejmSAQgi9LfOBnJd_a9HxUlf6pH5wUEX75WIeCZnuQ4tfsNRWXvdLH4ItolUw9fY9mZolknK2RyqIpBG8MAxhSQudQ5qZVPDuMT-3QC73iBY6tPQnbheQFhdhPYrhwtHnsAxg4OUWOog1UtEfaLzABBBzgz0GrZ-fWPJpxVOAv7mOaJZnh4QsO9-TbvVyOPLGfzlk2eWtL8mGC1rJ_RIPUPdnamx3kJaFHsCWs0lFT_IMkxIFoN7QzMizFg
; 结束身份验证令牌