<div id="tools" appToolsWatch style="position:absolute;top:55px;right:120px;width:80px;margin-top:7px;z-index:2; overflow:auto;">
    <ul>
        <li class="baidu-icon"><span style="height: 34px;width: 29px;background-image: url(assets/icon/baidumap/newtools_9ddbaad.png);background-position: -80px -117px;
            background-repeat: no-repeat;position: absolute;top: 0px;left: 0px;"> </span>测距</li>
        <li class="baidu-icon"><span style="height: 34px;width: 29px;background-image: url(assets/icon/baidumap/newtools_9ddbaad.png);background-position: -80px -168px;
            background-repeat: no-repeat;position: absolute;top: 32px;left: 0px;"> </span>标记</li>
        <li><i class="far fa-square"></i>&nbsp;&nbsp;&nbsp;面积</li>
        <li><i class="fas fa-print"></i>&nbsp;&nbsp;&nbsp;打印</li>
        <li><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;&nbsp;标绘</li>
    </ul>
</div>