.gisc-tool-bar-container {
    position: absolute;
    top: 0;
    right: 0;
}

.gisc-tool-bar-list {
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
    background-color: #fff;
    padding: 0;
    display: inline-block;
    margin-right: 10px;
}

.gisc-tool-bar-list .gisc-tool-bar-list__item {
    display: inline-block;
    height: 46px;
}

.gisc-tool-bar-list__item button {
    font-size: 12px;
    padding: 0px;
}

.button-row {
    display: inline-block;
}
#tool-main{
    position: absolute;
    top:40px;
    right:0px;
}
.mat-button{
    line-height: 46px;
}