.gisc-real-time-container{
    width:160px;
    height:300px;
    position: absolute;
    right:250px;
    top:15px;
    background-color: white;
}
.gisc-real-time__close{
    position:absolute;
    top:0px;
    right:0px;
    font-size:12px;
}