<div id="user-container">
    <div id="user-head">
        <a href="javascript:void(0)">登录</a>
    </div>
    <ul>
        <li>
            <i class="fas fa-home fa-lg"></i> 我的空间</li>
        <li>
            <i class="fas fa-star fa-lg"></i> 我的收藏</li>
        <li>
            <i class="fas fa-tasks fa-lg"></i> 任务管理</li>
        <li>
            <i class="fas fa-cog fa-lg"></i> 账号设置</li>
        <li>
            <i class="fas fa-question-circle fa-lg"></i> 平台帮助</li>
        <li>
            <i class="fas fa-comment-alt "></i> 用户反馈</li>
        <li>
            <i class="fas fa-comment-alt "></i> 用户反馈</li>
    </ul>
    <div class="user-container__logout">
        <a hrf="javascript:void(0);">退出账户</a>
    </div>
</div>