.gisc-user-container {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 300px;
    background-color: white;
}

.gisc-user-container ul {
    margin: 0px;
    padding: 0px;
}

.gisc-user-container ul li {
    list-style-type: none;
    height: 40px;
    line-height: 42px;
    border-bottom: 1px dashed #eee;
    position: relative;
    text-indent: 5px;
    font-size: 12px;
    cursor: pointer;
}

.gisc-user-head {
    width: 100%;
    height: 80px;
    background-color: #3385FF;
}
.gisc-user-head button{
    position: absolute;
    display: block;
    /* width: 48px;
    height: 26px;
    line-height: 26px; */
    border-radius: 2px;
    text-decoration: none;
    top: 20px;
    right: 14px;
    font-size: 14px;
    text-align: center;
}
.mat-raised-button{
    min-width: 0;
}
.gisc-user-container__logout{
    float: right;
    padding: 2px;
    font-size: 12px;
    background-color: #fff;
    color: #999;
}
.gisc-user-container__logout a:hover{
    color:#3385ff
}