<!-- 最外层拖拽 -->
<div class="dialog-login__container" id="drag">
  <!-- 对话框头 -->
  <div class="dialog-login__head title">
    <h2>用户登录</h2>
    <div class="dialog-login__window-btns button-row">
     <button mat-icon-button class="fullscreen" (click)="toggleFullscreenDialog()" title="全屏">
        <i class="material-icons">fullscreen</i>
     </button>
     <button mat-icon-button class="close" (click)="closeDialog()" title="关闭">
        <i class="material-icons">clear</i>
     </button>
    </div>
  </div>
  <!-- 对话框内容 -->
  <div class="dialog-login__content content">
    <!-- 登录表单 -->
    <form class="dialog-login__form" #f="ngForm" (ngSubmit)="login(f.value)">
      
      <mat-form-field class="example-full-width"  style="width:100%;">
        <span matPrefix> <i class="material-icons">account_circle</i> </span>
        <input matInput placeholder="账户" type="email" id="login"  name="login" ngModel>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width:100%;">
      <span matPrefix><i class="material-icons">vpn_key</i></span>
        <input matInput placeholder="密码" type="password" id="password" name="password" ngModel>
      </mat-form-field>
      <div class="dialog-login__btn button-row">
        <button type="submit" mat-raised-button color="primary">登录</button>
        <button type="button" mat-raised-button (click)="closeDialog()">返回</button>
      </div>

    </form>
  </div>
</div>