.gisc-login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.gisc-login-head {
    width: 100vw;
    height: 100px;
    background-color: #3f51b5
}

.gisc-form-container {
    position: fixed;
    top: calc((100vh - 280px)/2);
    left: calc((100vw - 500px)/2);
    z-index: 3;
    width: 500px;
    height: 280px;
    background: #fafafa;
    border: 1px solid #d5d5d5;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.gisc-form-head {
    margin: 0;
    background-color: #3f51b5;
    color: white;
    padding: 10px;
}

.gisc-form-head h2 {
    text-align: center;
    margin: 0;
    cursor: default;
}


.gisc-form-content {
    overflow: hidden;
    margin: 0 5px;
}

.gisc-form-content--detail {
    padding: 10px;
    margin: 0 auto;
}
.gisc-form-content--detail label{
    font-size: 16px;
}
.gisc-form-content__button {
    text-align: center;
}

.mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
}