.gisc-notice-container{
    position: absolute;
    top: 25px;
    right: 0px;
    width: 500px;
    height: 470px;
    background-color: white;
}
.gisc-notice-container__close{
    position:absolute;
    top:0px;
    right:5px;
    color:black;
}