section{
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    background-color: white;
    position: absolute;
    top:0px;
    overflow:auto;
}
section ul{
    border-bottom: 1px solid #d9d9d9;
}
section ul li{
    padding:5px;
    font-size:12px;
    line-height: 24px;
    list-style-type: none;
}
section ul li:hover{
    cursor: pointer;
}
