<div id="search-container" appSearchContainerWatch style="height:100%">
  <h3 style="margin-top:50px">江苏南京</h3>
  <div  title="清除" style="position:absolute;top:0px;right:5px;color:white;"><i class="fas fa-times " ></i></div>
  
</div>
<div appSearchContainerWatch id="collapse" title="收回" style="overflow:auto;position:absolute;top:20px;left:400px;
width:0px;height:40px;display:-webkit-box;-webkit-box-pack: center;-webkit-box-align: center;text-align:center;background-color:#F3F3F3;">
    <i class="fas fa-caret-left fa-lg"></i>
</div>