<div class="gisc-control-view-container">
    <div class="button-row gisc-control-view-head">
        <!-- <mat-toolbar> -->
        <button mat-icon-button title="菜单" class="gisc-control-view__button--menu" (click)="onMenuClick()">
                <i class="material-icons md-24">menu</i>
            </button>
        <h3>{{actionTile}}</h3>
        <button mat-icon-button title="关闭" class="gisc-control-view__button--clear" (click)="onCloseClick()">
                <i class="material-icons md-24">clear</i>
            </button>
        <!-- </mat-toolbar> -->
    </div>
    <ng-template action-host></ng-template>
</div>