.gisc-control-view-container {
    padding: 0;
    width: 410px;
    height: 100%;
    /* background-color: aquamarine; */
    overflow: hidden;
}

.gisc-control-view-head{
    background-color: #3f51b5;
    /* width: 100%; */
    color:white;
    position: relative;
    text-align: center;
    height:36px;
    margin: 10px;
}
.gisc-control-view-head h2{
    display: inline;
    vertical-align: middle;
}
.gisc-control-view__button--menu{
    position: absolute;
    left:0;
}
.gisc-control-view__button--clear{
    position: absolute;
    right:0;
}

