<div id="control-view-container">
    <div class="control-view-head-wrapper">
        <div class="control-view-head">
            <div title="菜单" id="control-view-menu" (click)="reOpenMenu()">
                <i class="fas fa-bars fa-lg"></i>
            </div>
            <div>
                <h2>{{actionTile}}</h2>
            </div>
            <div title="关闭" id="control-view-close" (click)="closeControlView()">
                <i class="fas fa-times fa-lg"></i>
            </div>
        </div>
    </div>
    <div class="control-view-body-wrapper">
        <ng-template action-host></ng-template>
    </div>

</div>