#control-view-container {
    width: 410px;
    height: 100%;
    position: relative;
}

.control-view-head-wrapper {
    background-color: #007bff;
    height: 50px;
    width: 100%;
}

.control-view-head {
    position: relative;
    top: 10px;
    left: 20px;
    height: 50px;
    width: 360px;
    text-align: center;
}

#control-view-menu {
    position: absolute;
    top: 0px;
    left: 15px;
    display: inline-block;
    color: white;
}

#control-view-close {
    position: absolute;
    top: 0px;
    right: 15px;
    display: inline-block;
    color: white;
}

h2 {
    display: inline-block;
    margin-top: -5px;
}