<div style="position: relative;">
  <!-- <div style="width:100px;">目录树</div> -->
  <button style="position:absolute;right:0;top:0" title="关闭" (click)="onCloseRepo()">
    <i class="material-icons md-18">clear</i>
  </button>
  <div class="example-container mat-elevation-z8">
    <table mat-table #table [dataSource]="repoEntities.entities">
      <!-- <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-checkbox></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox></mat-checkbox>
        </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 序号 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 名称 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mtime">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 更新时间 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mtime}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="download" *ngIf="true">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 下载 </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="downloadEntity(element,downloadHref,$event)">
          <a #downloadHref [download]="element.name">
            <i class="material-icons">
              arrow_downward
            </i>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </div>

</div>