
#map{
    position:absolute;top:20px;right:120px;background-color:white;z-index:1;
}
#map li{
    list-style: none;
    float:left;
    margin:0 10px;
}

ul{
    padding-left:8px;    
    border-radius: 2px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
}
.map-bar{
    color:#9A9A9A;
    padding:8px 0px;
    font-size:12px;
}
#notice{
    position:absolute;
    right:70px;
    top:20px;
    background-color:white;
    font-size:12px;
    padding:8px;
    border-radius:5px;
}
#user-center{
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    border-radius:50%;
    height:40px;
    width:40px;
    position:absolute;
    top:18px;
    right:20px;
    margin-left:20px;
    color:#3C82FF;
    background-color:white
}
#nav-bar{
    position:absolute;
    top:20px;
    left:20px;
    background-color:white;    
    z-index:3;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: auto;
}

#nav-bar button, input{
    padding:10px;
}

.map-bar:hover{
    color:#0C88E8;
    cursor: pointer;
}
#overlay{
    position:absolute;
    top:0px;
    left:0px;
}

#dataview{
    position:absolute;
    bottom:20px;
    right:30px;
    padding:5px 0px;
    font-size:12px;
    text-align: center;
    width:100px;
    color:white;
    background-color: rgba(47,53,60,.8);
    z-index:1;
}

#dataview:hover{
    cursor: pointer;
}

#footer{
    position:absolute;
    left:0px;
    bottom:0px;
    height:18px;
    width:550px;
    background-color: rgba(47,53,60,.8);
    z-index: 1;
}
#footer span{
    position:absolute;
    left:10px;
    font-size:12px;
    text-align:left;
    color:white;
}