<!-- root -->
<div id="root">

  <!-- layer0  -->
  <div class="layer0">
    <app-map></app-map>
  </div>

  <!-- layer1  -->
  <div class="layer1">
    <app-menu-bar (shownEmitter)="recShown($event)"></app-menu-bar>
    <app-tool-bar></app-tool-bar>
  </div>

  <!-- layer2 -->
  <div class="layer2">

    <!-- left -->
    <div class="layer2 layer2-left">
      <app-action></app-action>
    </div>

    <!-- right -->
    <div class="layer2 layer2-right">
      <app-data-view></app-data-view>
      <app-footer></app-footer>
    </div>

  </div>

  <!-- layer3 -->
  <div class="layer3" *ngIf="!shown">
    <app-menu (shownEmitter)="recShown($event)"></app-menu>
  </div>

</div>