<div id="root">

    <div class="gisc-bar-wrapper">
        <div class="gisc-menu-bar-wrapper">
            <app-menu-bar (shownEmitter)="recShown($event)" *ngIf="menuBarShown" (actionEmitter)="recActionShown($event)" (menuBarEmitter)="recMenuBarState($event)" (menuItemEmitter)="recMenuItem($event)"></app-menu-bar>
        </div>
        <div class="gisc-tool-bar-wrapper">
            <app-tool-bar></app-tool-bar>
        </div>
    </div>

    <div class="gisc-menu-wrapper" *ngIf="shown">
        <app-menu (shownEmitter)="recShown($event)" (actionEmitter)="recActionShown($event)" (menuBarEmitter)="recMenuBarState($event)"
        ></app-menu>
    </div>
    
    

    <div class="gisc-map-view-wrapper">
            <app-map-view></app-map-view>
        </div>
        
    <div class="gisc-view-wrapper">

        <div class="gisc-control-view-wrapper gisc-left-view-wrapper">
            <app-control-view *ngIf="actionShown" (actionCloseEmitter)="recActionShown($event)" (actionEmitter)="recActionShown($event)" (actionMenuEmitter)="recShown($event)"
                (menuBarEmitter)="recMenuBarState($event)"></app-control-view>
        </div>

        <div class="gisc-right-view-wrapper">

            <div class="gisc-content-view-wrapper">
                <app-content-view [collapseShown]="collapseShown" [viewShown]="viewState" (viewEmitter)="recViewState($event)" (menuEmitter)="recActionShown($event)"
                    (collapseEmitter)="recCollapseState($event)"></app-content-view>
            </div>

            <div class="gisc-data-view-wrapper">
                <app-data-view *ngIf="viewState"></app-data-view>
            </div>

            <div class="gisc-footer-wrapper">
                <app-footer></app-footer>
            </div>

        </div>
    </div>

</div>




<!-- 
<div id="root">

        <div class="gisc-map-view-wrapper">
            <app-map-view></app-map-view>
        </div>
        
        <div class="gisc-bar-wrapper">
            <div class="gisc-menu-bar-wrapper">
                <app-menu-bar (shownEmitter)="recShown($event)" *ngIf="menuBarShown" (actionEmitter)="recActionShown($event)" (menuBarEmitter)="recMenuBarState($event)" (menuItemEmitter)="recMenuItem($event)"></app-menu-bar>
            </div>
            <div class="gisc-tool-bar-wrapper">
                <app-tool-bar></app-tool-bar>
            </div>
        </div>
        
        <mat-sidenav-container class="gisc-view-wrapper">
    
            <mat-sidenav  mode="side" opened="true" class="gisc-control-view-wrapper gisc-left-view-wrapper" style="height:100%;width:430px;">
                <app-control-view *ngIf="actionShown" (actionCloseEmitter)="recActionShown($event)" (actionEmitter)="recActionShown($event)" (actionMenuEmitter)="recShown($event)"
                    (menuBarEmitter)="recMenuBarState($event)"></app-control-view>
            </mat-sidenav>
    
            <mat-sidenav-content class="gisc-right-view-wrapper" style="height:200px;width:1500px;">
    
                <div class="gisc-content-view-wrapper">
                    <app-content-view [collapseShown]="collapseShown" [viewShown]="viewState" (viewEmitter)="recViewState($event)" (menuEmitter)="recActionShown($event)"
                        (collapseEmitter)="recCollapseState($event)"></app-content-view>
                </div>
    
                <div class="gisc-data-view-wrapper">
                    <app-data-view *ngIf="viewState"></app-data-view>
                </div>
    
                <div class="gisc-footer-wrapper">
                    <app-footer></app-footer>
                </div>
    
            </mat-sidenav-content>

        </mat-sidenav-container>
    
    </div>
    
    
    <div class="gisc-root-wrapper">
        <div class="gisc-map-view-wrapper">
            <app-map-view></app-map-view>
        </div>
    
        <div class="gisc-bar-wrapper">
            <app-menu-bar></app-menu-bar>
            <app-tool-bar></app-tool-bar>
        </div>
    
        <div class="gisc-menu-wrapper">
            <app-menu></app-menu>
        </div>
    
        <mat-drawer-container>
            <mat-drawer mode="side" opened="true">
                <app-control-view></app-control-view>
            </mat-drawer>
    
            <mat-drawer-content>
                <app-content-view></app-content-view>
                <app-data-view></app-data-view>
                <app-footer></app-footer>
            </mat-drawer-content>
        </mat-drawer-container>

    </div> -->