.gisc-root-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
}

.gisc-root-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.gisc-drawer-menu {
    height: 100%;
    width: 410px;
    overflow-y:visible;
}

.gisc-bar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.gisc-menu-bar-wrapper {
    position: relative;
    top: 20px;
    left: 20px;
}

.gisc-sidenav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.gisc-tool-bar-wrapper {
    position: fixed;
    top: 10px;
    right: 20px;
}

.gisc-sidenav-content {
    overflow: hidden;
}

.gisc-fixed-div-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.gisc-map-view-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.gisc-sidenav-content-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
}

.gisc-toggle-wrapper {
    pointer-events: none;
    flex: 1;
    position: relative;
}

.gisc-control-view-wrapper {
    height: 100%;
    z-index: 3;
}

.gisc-right-view-wrapper {
    height: 100%;
    float: left;
    position: relative;
}

.gisc-data-view-wrapper {
    position: relative;
    left: 2px;
    bottom: 21px;
    /* height: 180px; */
    width: 100%;
    display: none;
}

.gisc-footer-wrapper {
    position: absolute;
    bottom: 0px;
    left: 2px;
    height: 18px;
    width: 500px;
}

.gisc-toggle__button {
    pointer-events: visible;
    background-color: rgba(255, 255, 255, 0.9)
}

.gisc-toggle__button--collapse {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    min-width: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.9);
}

.gisc-toggle__button--expand {
    position: absolute;
    right: 10px;
    bottom: 16px;
}