#root {
    position: absolute;
    top: 0px;
    left: 0px;
}

.gisc-map-view-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
}

.gisc-bar-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.gisc-view-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 2;
}

.gisc-control-view-wrapper {
    float: left;
    height: 100%;
    z-index: 3;
}

.gisc-right-view-wrapper {
    height: 100%;
    float: left;
    position: relative;
}

.gisc-data-view-wrapper {
    position: absolute;
    bottom: 18px;
    left: 2px;
    z-index:3;
}

.gisc-menu-bar-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
}

.gisc-tool-bar-wrapper {
    position: relative;
    top: 10px;
    right: 20px;
}


.gisc-left-view-wrapper--unexpand{
    margin-left:-410px!important;
  }
  .gisc-left-view-wrapper{
    margin-left:0;
  }