#maps-container{
    width: 85px;
    position: absolute;
    right: 180px;
    top: 6px;
    background-color: white;
}

#maps-container ul{
    margin:0px;
    padding:0px;
}

#maps-container ul li{
    list-style-type: none;
    padding:5px;
    text-align: center;
}

#maps-container ul li:hover{
    cursor: pointer;
}