.gisc-atlas-container{
    width: 85px;
    position: absolute;
    right: 195px;
    top: 15px;
    background-color: white;
}

.gisc-atlas-container ul{
    margin:0px;
    padding:0px;
}

.gisc-atlas-container ul li{
    list-style-type: none;
    padding:5px;
    text-align: center;
    cursor: pointer;
}