<div id="open-project">
  <div style="height:60px;position:absolute;top:0px;right:0px;font-size:16px;width:30px;">
    <div class="project-icon" *ngIf="!hidden" title="关闭" style="position:absolute;top:5px;right:5px;color:white">
      <i class="fas fa-times"></i>
    </div>
    <div class="project-icon" title="折叠" style="position:absolute;top:30px;right:9px;color:white">
      <i class="fas fa-caret-left fa-lg"></i>
    </div>
  </div>
  <div id="open-project-container"  *ngIf="!hidden"  style=" width:410px;height:100%;background-color:white;">
    <div style="width:100%;height:10%;background-color:#3879D9;">
    <h1 style="text-align:center;">打开项目</h1>
    </div>
  </div>
</div>
