
#menu{
    margin-left:10px;
}
#search{
    color:#9A9A9A;
}
#menu-bar{
    background-color:white;
    width:440px;    
    z-index:1;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    overflow: auto;
}

#menu-bar button, input{
    padding:10px 8px;
}
