<div class="gisc-menu-bar-wrapper">
  <div class="button-row">
    <button mat-button title="菜单" class="gisc-menu-bar__button gisc-menu-bar__button--open" (click)="openMenuPanel()" >
      <i class="material-icons md-24">menu</i>
    </button>
    <input type="text" style="width:290px;" placeholder="搜索" />
    <button mat-button  title="搜索"  class="gisc-menu-bar__button">
      <i class="material-icons md-24">search</i>
    </button>
    <span style="font-size:20px;">|</span>
    <button mat-button  title="路径"  class="gisc-menu-bar__button">
      <i class="material-icons md-24">directions</i>
    </button>
  </div>
</div>
