<div id="menu-bar">
  <button id="menu" title="菜单" (click)="openMenu()" class="unfocus">
    <i class="fas fa-bars fa-lg"></i>
  </button>

  <input type="text" style="width:290px;" placeholder="Search" />

  <button id="search" type="button" title="搜索" class="unfocus">
    <i class="fas fa-search fa-lg"></i>
  </button>
  <span style="font-size:20px;padding:0 5px">|</span>
  <button title="路径" id="direction" >
  </button>

  <button title="关闭" id="close" >
    <i class="fas fa-times fa-lg"></i>
  </button>
</div>