<div class="gisc-data-view-container" #container>
  <div class="gisc-data-view-container__top" #resizeTop></div>
  <mat-card class="gisc-tabpages-wrapper">
    <mat-card-content>
      <!-- <h2 class="example-h2">Tabs with text labels</h2> -->
      <mat-tab-group #matTabGroup class="demo-tab-group">
        <mat-tab label="Tab 1" >
          <ng-template mat-tab-label>
            <div class="button-row">
              <button mat-button>
                Tab 1
              </button>
              <span  title="关闭" (click)="onCloseItem($event)">
                  <i class="material-icons">clear</i>
              </span>
            </div>
          </ng-template>

          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
                
            <mat-table #table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="position">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="weight">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>
          
                <ng-container matColumnDef="symbol">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>
          
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table> 
          </div>
        </mat-tab>
        <mat-tab label="Tab 2">
            <ng-template mat-tab-label>
              <div class="button-row">
                <button mat-button>
                  Tab 2
                </button>
                <span mat-button title="关闭">
                    <i class="material-icons">clear</i>
                </span>
              </div>
            </ng-template>
          <div class="demo-tab-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
            vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur
            felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
            rutrum enim, vel tempor sapien arcu a tellus.
          </div>
        </mat-tab>
        <mat-tab label="Tab 3">
            <ng-template mat-tab-label>
              <div class="button-row">
                <button mat-button>
                  Tab 3
                </button>
                <span mat-button title="关闭">
                    <i class="material-icons">clear</i>
                </span>
              </div>
            </ng-template>
          No content
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

  <!--     
  <div class="gisc-table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 
  
  </div>
  -->

</div>