.gisc-data-view-container {
    height: 180px;
}

.gisc-data-view-container__top {
    height: 5px;
    width: 100%;
    top: 0px;
    cursor: n-resize;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
  }
  
  .mat-table {
    overflow: auto;
    /* height: 175px; */
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  