<!-- 模态框随动画展示体验不好 -->
<div class="gisc-modal">
    <div class="gisc-menu-container">
        <div class="gisc-menu-head">
            <!-- <h2>{{appTitle}}</h2> -->
            <h2>Crime Analysis</h2>
            <button mat-icon-button class="gisc-menu-head__button " (click)="onCloseClick()" title="关闭">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

        <mat-list class="gisc-menu-list">
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onNewScenarioClick()">新建场景</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onOpenScenarioClick()">打开场景</button>
            </mat-list-item>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onSaveScenarioClick()">保存场景</button>
            </mat-list-item>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onScenarioContentClick()">场景详情</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onDataResourceClick()">数据查询</button>
            </mat-list-item>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onAnalysisTaskClick()">数据分析</button>
            </mat-list-item>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onBasemapResourceClick()">地理底图</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="gisc-menu-list__item">
                <button mat-button (click)="onMaintainScenarioClick()">场景管理</button>
            </mat-list-item>
        </mat-list>
    </div>

</div>