<div id="menu-panel">
    <div id="menu-head"></div>
    <h2>{{appTile}}</h2>
    <button (click)="clsoeMenu()" title="收回" class="unfocus">
        <i class="fas fa-angle-double-left"></i>
    </button>

    <ul class="project">
        <li (click)="onProjectContentClick()">项目详情</li>
        <li (click)="onDataResourceClick()">数据查询</li>
        <li (click)="onAnalysisTaskClick()">数据分析</li>
        <li (click)="onBasemapResourceClick()">地理底图</li>
        <li (click)="onNewProjectClick()">新建项目</li>
        <li (click)="onOpenProjectClick()">打开项目</li>
        <li (click)="onSaveProjectClick()">保存项目</li>
        <li (click)="onMaintaiProjectClick()">项目管理</li>
    </ul>
    
</div>