<div class="gisc-menu-container">
    <div class="gisc-menu-head">
        <h2>{{appTile}}</h2>
        <button mat-icon-button class="gisc-menu-head__button " (click)="closeMenu()"title="关闭">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    
    <mat-list class="gisc-menu-list" mat-dialog-actions>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="0" cdkFocusInitial>新建场景</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="1" cdkFocusInitial>打开场景</button>
        </mat-list-item>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="2" cdkFocusInitial>保存场景</button>
        </mat-list-item>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="3" cdkFocusInitial>场景详情</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="4" cdkFocusInitial>数据查询</button>
        </mat-list-item>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="5" cdkFocusInitial>数据分析</button>
        </mat-list-item>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="6" cdkFocusInitial>地理底图</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="gisc-menu-list__item">
            <button mat-button [mat-dialog-close]="7" cdkFocusInitial>场景管理</button>
        </mat-list-item>
    </mat-list>
</div>

<!-- <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list> -->