ul{
    padding:0px 20px;
    margin:0px;
}
#menu-panel{
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
    background-color: white;
    position: absolute;
    top:0px;
    overflow:auto;
    z-index:3;width: 410px;height: 100%
}

#menu-head > button{
    position:absolute;top:12px;right:10px;color:#9A9A9A;
}

.project li{
    padding:5px;
    font-size:12px;
    line-height: 24px;
    list-style-type: none;
    color:#9A9A9A;
}

.project li:nth-child(1),.project li:nth-child(4),.project li:nth-child(7){
    border-bottom: 1px solid #d9d9d9;
}

#menu-panel ul li:hover{
    cursor: pointer;
    color:#3C82FF;
}
h2{
    padding:6px 20px
}

#menu-head{
    width:100%;
    height:50px;
    border-bottom:1px solid #d9d9d9
}