#locations-container{
    width:364px;
    height:390px;
    position: absolute;
    right:115px;
    top:15px;
    background-color: white;
}
#locations-close{
    position:absolute;
    top:0px;
    right:0px;
    font-size:12px;
}