<div id="bottom-container" class="rectangle" [ngStyle]="style" mwlResizable [validateResize]="validate" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
    [enableGhostResize]="true" [resizeSnapGrid]="{left: 50, right: 50}" (resizeEnd)="onResizeEnd($event)" appBottomContainerWatch
    style="position:absolute;bottom:15px;right:0px;z-index:2;">
    <table>
    
        <thead>
        
            <tr>
            
                <td>
                    This text is in the table head.
                    </td>
                    </tr>
            </thead>
    
        <tbody>
        
            <tr>
            
                <td>
                    This text is in the table body.
                </td>
                </tr>
            </tbody>
    
        <tfoot>
        
            <tr>
            
                <td>
                    This text is in the table footer.
                </td>
                </tr>
            </tfoot>
    </table>
</div>