mwlResizable {
    box-sizing: border-box; 
  }
  .rectangle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FD4140;
    color: #121621;
    margin: auto;
    overflow: auto;
  }
  .resize-handle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: se-resize;
  }